body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin: 0px;
}


marquee{  
    margin-top: 5px;
}

*{
    box-sizing: border-box;
}

title{
    display: none;
}